## Data Acquisition - MySQL Workbench and Tableau

### Import necessary Libraries

In [1]:
#import necessary libraries
!pip install requests
!pip install pymysql
import requests
import os
import json
import csv
import pandas as pd
import numpy as np
import math

#libraries to make a connection to mysql
import sqlalchemy
from sqlalchemy import create_engine
import pymysql

Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.8/site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./opt/anaconda3/lib/python3.8/site-packages (from requests) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.8/site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.8/site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.8/site-packages (from requests) (1.26.8)
Requirement already satisfied: pymysql in ./opt/anaconda3/lib/python3.8/site-packages (1.0.2)

### Functions

In [17]:
#function to get the element for phone number from the json 
def get_correct_phone_data(arr):
    #data can be NaN or a list
    #below conditions check for that to get the right data within the list
    if type(arr) == list:
        if(len(arr)>1 and 'value' not in arr[0].keys()):
            return arr[1]
        else:
            return arr[0]
    elif math.isnan(arr) == False:
        return arr[0]
    else:
        return 'unknown'

In [18]:
#function to clean patient data to convert lists to string and get right data from the json
def clean_patient_data(df):
    df['Name_JSON']=df['Name_JSON'].str[0]
    df['Address_JSON']=df['Address_JSON'].str[0]
    df['Phone_JSON']=df['Phone_JSON'].apply(lambda x:get_correct_phone_data(x))

In [19]:
#function to get name, address and phone details from the json
def concat_patient_data(df):
    #get name details and drop unnecessary columns
    name_df=df['Name_JSON'].apply(json.dumps).apply(json.loads).apply(pd.Series)
    name_df['Given Name']=[' '.join(map(str, l)) for l in name_df['given']]
    name_df.drop(['use','fhir_comments','text','given','prefix'], axis = 1, inplace = True, errors='ignore')
    
    #get address details, format them and drop unnecessary columns
    address_df=df['Address_JSON'].apply(json.dumps).apply(json.loads).apply(pd.Series)
    address_df.drop([0,'district','text','type','use','period','extension','fhir_comments'], axis = 1, inplace = True, errors='ignore')
    address_df.fillna('', inplace=True)
    #combine street address into one line
    address_df['line'] = [','.join(map(str, l)) for l in address_df['line']]
    #combine street address, city, state, country into one column separated by (,)
    address_df['Address']=address_df.apply(lambda row: ','.join(row.values.astype(str)), axis=1)
    address_df.Address = address_df.Address.replace({',,,,,': 'unknown'})
    address_df.rename(columns={'city': 'City', 'state': 'State', 'country': 'Country'}, inplace=True)
    
    #get phone details and drop unnecessary columns
    phone_df=df['Phone_JSON'].apply(json.dumps).apply(json.loads).apply(pd.Series)
    phone_df['Phone']=phone_df['value']
    phone_df.drop([0,'rank','system','use','value'], axis = 1, inplace = True, errors='ignore')
    phone_df.fillna('-', inplace=True)
    
    #concatenate all these dataframes into one and return it
    df=pd.concat([df,name_df,address_df,phone_df],axis=1)
    
    return df

In [20]:
#function to arrange the data correctly to display
def arrange_patient_data(df):
    df['Family Name']=df['family']
    df.drop(['Name_JSON','Address_JSON','Phone_JSON','family','line','postalCode','period','id'], axis = 1, inplace = True, errors='ignore')
    df.fillna('-', inplace=True)
    df['Date of Death'] = df['Date of Death'].replace({'-': 'unknown'})
    df=df[['Patient Id','Given Name','Family Name','Gender','Date of Birth','Date of Death','Address','City','State','Country','Phone']]
    return df

## Retrieving details of Deceased Patients using FHIR REST API

In [21]:
#function to search for patients based on search string
def search_patients():
    #url to make the API callout
    url='http://hapi.fhir.org/baseR4/Patient?deceased=true'
    response = requests.get(url)
    #format the response to json
    resp=response.json() 
    #store into a dataframe
    data=pd.json_normalize(resp['entry'])
    
    patient_df=data.filter(['resource.id','resource.name','resource.gender','resource.birthDate','resource.deceasedDateTime','resource.address','resource.telecom','resource.deceasedBoolean'], axis=1)
    patient_df.columns=['Patient Id','Name_JSON','Gender','Date of Birth','Date of Death', 'Address_JSON','Phone_JSON','Deceased']
    
    #call functions to run the necessary data preprocessing steps
    clean_patient_data(patient_df)
    patient_df=concat_patient_data(patient_df)
    patient_df=arrange_patient_data(patient_df)
    
    return patient_df

In [22]:
#function to display search results in a html
def on_search_clicked(b):
    search_patients.data=''
    results=search_patients()
    
    #set the dataframe into a HTML table
    search_patients.data= results.to_html();
    
    display(HTML(search_patients.data))

## Display Patient Details

In [23]:
from ipywidgets import widgets
from IPython.core.display import display, HTML

display(HTML('<h4>Click on "Display Patients" to show all the deceased patients.</h4>'))
search_btn=widgets.Button(description="Display Patients",button_style="success")
display(search_btn)
search_btn.on_click(on_search_clicked)

/var/folders/w1/dw5vm6p955bgmws4x53sjlym0000gn/T/ipykernel_15344/148168325.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

Button(button_style='success', description='Display Patients', style=ButtonStyle())

## Data Ingestion - Transfer Patient details to MySQL database

In [24]:
#read the csv files and convert into dataframe

file_name='/Users/apple/Desktop/patient_data.csv'
patients_df=pd.read_csv(file_name)
patients_df.head()

,patient_id,given_name,family_name,gender,date_of_birth,date_of_death,city,state,phone,death_by_natural_cause,alcohol_intake,nicotine_intake,race,bmi,health_issues
0,7949473,Gaynor,Titta,Female,6/4/46,10/22/16 15:42,West Palm Beach,Florida,561-553-2724,0,Never,Never,Asian,Normal,1
1,9662622,Oona,Pusill,Female,11/26/65,5/17/16 22:33,Hollywood,Florida,954-178-3132,0,Often,Often,Alaska Native,Over weight,1
2,6716847,Yetta,Taysbil,Male,9/14/47,11/16/07 10:39,Jersey City,New Jersey,201-765-7538,0,Never,Never,African American,Under weight,1
3,8349189,Farrah,Bartles,Male,12/8/97,2/18/00 1:18,Murfreesboro,Tennessee,615-130-9597,0,Often,Often,Alaska Native,Over weight,0
4,3790901,Richardo,Hedau,Bigender,7/11/77,12/24/93 11:05,Reston,Virginia,571-153-4428,1,Never,Occasionally,Native Hawaiian,Normal,1

In [25]:
patients_df.shape

(10000, 15)

In [26]:
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   patient_id              10000 non-null  int64
 1   given_name              10000 non-null  object
 2   family_name             10000 non-null  object
 3   gender                  10000 non-null  object
 4   date_of_birth           10000 non-null  object
 5   date_of_death           10000 non-null  object
 6   city                    10000 non-null  object
 7   state                   10000 non-null  object
 8   phone                   10000 non-null  object
 9   death_by_natural_cause  10000 non-null  int64
 10  alcohol_intake          10000 non-null  object
 11  nicotine_intake         10000 non-null  object
 12  race                    10000 non-null  object
 13  bmi                     10000 non-null  object
 14  health_issues           10000 non-null  int64
dtypes: int64(3), object(12)
memory usage: 1.1+ MB

In [27]:
#convert date fields in the correct format to insert into the database
patients_df['date_of_birth']=pd.to_datetime(patients_df.date_of_birth)
patients_df['date_of_death']=pd.to_datetime(patients_df.date_of_death)

## Connect to MySQL

In [37]:
import mysql.connector
from mysql.connector import Error


def connect():
    """ Connect to MySQL database """
    conn = None
    try:
        conn = mysql.connector.connect(host='localhost',
                                       database='Patient_DB',
                                       user='root',
                                       password='Pass')
        if conn.is_connected():
            print('Connected to MySQL database')

    except Error as e:
        print(e)

    finally:
        if conn is not None and conn.is_connected():
            conn.close()


if __name__ == '__main__':
    connect()

Connected to MySQL database

## Transfer data to MySQL

In [48]:
hostname="localhost"
dbname="Patient_DB"
uname="root"
pwd="Pass"
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
patients_df.to_sql('patients', engine, index=False)

10000

In [35]:
 patients = sqlalchemy.Table('patients', metadata, autoload=True, autoload_with=sqlEngine)
        query = sqlalchemy.select([patients]).where(sqlalchemy.and_(patients.columns.gender=="Female",patients.columns.state=="Florida")).order_by(sqlalchemy.asc(patients.columns.family_name)) 
                #Equivalent to 'SELECT * FROM patients WHERE gender=Female AND state=Florida order by family_name'
        ResultProxy = dbConnection.execute(query).fetchall()
        ResultSet=pd.DataFrame(ResultProxy)
        ResultSet.columns = patients.columns.keys()

In [50]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='Patient_DB',
                                         user='root',
                                         password='Pass')

    sql_select_Query = "select * from patients"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    # get all records
    records = cursor.fetchall()
    print("Total number of rows in table: ", cursor.rowcount)


except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of rows in table:  10000
MySQL connection is closed

## Retrieve data from MySQL

In [56]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Pass",
  database="Patient_DB"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT city, sum(health_issues) as total_health_issues FROM Patients group by city")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('West Palm Beach', Decimal('15'))
('Hollywood', Decimal('9'))
('Jersey City', Decimal('8'))
('Murfreesboro', Decimal('7'))
('Reston', Decimal('6'))
('Portland', Decimal('38'))
('Sioux Falls', Decimal('16'))
('Los Angeles', Decimal('67'))
('Mesa', Decimal('10'))
('Saint Louis', Decimal('48'))
('Dallas', Decimal('72'))
('El Paso', Decimal('93'))
('Long Beach', Decimal('28'))
('Minneapolis', Decimal('43'))
('Port Charlotte', Decimal('3'))
('Falls Church', Decimal('5'))
('Arlington', Decimal('35'))
('Colorado Springs', Decimal('35'))
('Prescott', Decimal('6'))
('Fort Wayne', Decimal('23'))
('Boise', Decimal('16'))
('Dayton', Decimal('28'))
('Washington', Decimal('193'))
('Sacramento', Decimal('66'))
('Louisville', Decimal('44'))
('Rochester', Decimal('39'))
('Shreveport', Decimal('23'))
('Newark', Decimal('20'))
('Atlanta', Decimal('73'))
('San Antonio', Decimal('64'))
('Pasadena', Decimal('25'))
('Philadelphia', Decimal('46'))
('Champaign', Decimal('4'))
('Raleigh', Decimal('32'))
('Flushing', Decimal('5'))
('Jacksonville', Decimal('36'))
('Pittsburgh', Decimal('37'))
('Springfield', Decimal('71'))
('Houston', Decimal('136'))
('Gainesville', Decimal('17'))
('Shawnee Mission', Decimal('25'))
('Newton', Decimal('9'))
('Watertown', Decimal('2'))
('Schenectady', Decimal('7'))
('Saint Petersburg', Decimal('18'))
('Gadsden', Decimal('3'))
('Glendale', Decimal('19'))
('Buffalo', Decimal('26'))
('Richmond', Decimal('42'))
('College Station', Decimal('3'))
('Tucson', Decimal('45'))
('Anchorage', Decimal('25'))
('San Diego', Decimal('50'))
('New York City', Decimal('129'))
('Mobile', Decimal('31'))
('Jackson', Decimal('27'))
('Virginia Beach', Decimal('10'))
('Savannah', Decimal('8'))
('Miami', Decimal('62'))
('Albany', Decimal('47'))
('Austin', Decimal('51'))
('Fresno', Decimal('34'))
('Fort Myers', Decimal('16'))
('Memphis', Decimal('46'))
('Charlotte', Decimal('46'))
('Topeka', Decimal('27'))
('Oakland', Decimal('22'))
('Kansas City', Decimal('58'))
('Clearwater', Decimal('17'))
('Greenville', Decimal('8'))
('Tacoma', Decimal('30'))
('Indianapolis', Decimal('34'))
('Pinellas Park', Decimal('2'))
('Phoenix', Decimal('60'))
('Sioux City', Decimal('12'))
('York', Decimal('0'))
('Saint Augustine', Decimal('5'))
('Northridge', Decimal('1'))
('Abilene', Decimal('3'))
('Omaha', Decimal('37'))
('San Francisco', Decimal('38'))
('Charlottesville', Decimal('6'))
('Jamaica', Decimal('16'))
('Albuquerque', Decimal('33'))
('Amarillo', Decimal('21'))
('Peoria', Decimal('36'))
('Van Nuys', Decimal('11'))
('Denver', Decimal('46'))
('Winter Haven', Decimal('9'))
('Winston Salem', Decimal('20'))
('Des Moines', Decimal('38'))
('Bridgeport', Decimal('6'))
('Cleveland', Decimal('23'))
('Biloxi', Decimal('3'))
('Reading', Decimal('8'))
('Santa Ana', Decimal('8'))
('Columbia', Decimal('16'))
('Englewood', Decimal('2'))
('Santa Barbara', Decimal('14'))
('Lexington', Decimal('33'))
('Detroit', Decimal('44'))
('Grand Forks', Decimal('0'))
('Tampa', Decimal('42'))
('New Orleans', Decimal('38'))
('Charleston', Decimal('37'))
('Fort Lauderdale', Decimal('22'))
('Plano', Decimal('4'))
('Spokane', Decimal('19'))
('Redwood City', Decimal('2'))
('Salinas', Decimal('4'))
('Seattle', Decimal('49'))
('Beaumont', Decimal('10'))
('Montgomery', Decimal('30'))
('Chattanooga', Decimal('6'))
('Columbus', Decimal('49'))
('Little Rock', Decimal('14'))
('Erie', Decimal('13'))
('Birmingham', Decimal('50'))
('South Bend', Decimal('16'))
('Daytona Beach', Decimal('13'))
('Salt Lake City', Decimal('57'))
('Inglewood', Decimal('12'))
('Boston', Decimal('43'))
('Las Vegas', Decimal('54'))
('Bakersfield', Decimal('16'))
('Oklahoma City', Decimal('54'))
('Fullerton', Decimal('8'))
('Worcester', Decimal('7'))
('Milwaukee', Decimal('37'))
('Reno', Decimal('11'))
('Youngstown', Decimal('10'))
('Hialeah', Decimal('6'))
('Fort Worth', Decimal('37'))
('Laurel', Decimal('3'))
('Torrance', Decimal('13'))
('Nashville', Decimal('24'))
('Harrisburg', Decimal('15'))
('Ocala', Decimal('16'))
('Riverside', Decimal('9'))
('Southfield', Decimal('3'))
('Fairfax', Decimal('4'))
('Schaumburg', Decimal('4'))
('Tallahassee', Decimal('12'))
('Lake Charles', Decimal('5'))
('Cedar Rapids', Decimal('4'))
('Cincinnati', Decimal('64'))
('Orlando', Decimal('43'))
('Odessa', Decimal('9'))
('Hartford', Decimal('22'))
('Lincoln', Decimal('18'))
('Dulles', Decimal('5'))
('Aurora', Decimal('14'))
('Roanoke', Decimal('26'))
('Knoxville', Decimal('21'))
('Oxnard', Decimal('7'))
('Wilmington', Decimal('20'))
('Merrifield', Decimal('5'))
('Garland', Decimal('10'))
('Suffolk', Decimal('1'))
('Brooklyn', Decimal('27'))
('Norcross', Decimal('2'))
('Naperville', Decimal('4'))
('Juneau', Decimal('2'))
('Durham', Decimal('7'))
('Woburn', Decimal('5'))
('Pensacola', Decimal('25'))
('Baton Rouge', Decimal('27'))
('Greensboro', Decimal('13'))
('Homestead', Decimal('2'))
('San Bernardino', Decimal('15'))
('Chicago', Decimal('62'))
('Hyattsville', Decimal('3'))
('San Jose', Decimal('36'))
('Irvine', Decimal('11'))
('Young America', Decimal('10'))
('Concord', Decimal('3'))
('Grand Junction', Decimal('3'))
('Duluth', Decimal('10'))
('Fairbanks', Decimal('5'))
('Ann Arbor', Decimal('4'))
('Midland', Decimal('12'))
('Port Washington', Decimal('1'))
('Escondido', Decimal('4'))
('Tyler', Decimal('9'))
('Norman', Decimal('4'))
('Wichita Falls', Decimal('6'))
('Zephyrhills', Decimal('5'))
('Ventura', Decimal('4'))
('Bethesda', Decimal('8'))
('Terre Haute', Decimal('2'))
('North Little Rock', Decimal('7'))
('Trenton', Decimal('25'))
('Portsmouth', Decimal('9'))
('Stockton', Decimal('10'))
('Akron', Decimal('18'))
('Delray Beach', Decimal('3'))
('Ashburn', Decimal('3'))
('Lake Worth', Decimal('7'))
('Corona', Decimal('13'))
('Sparks', Decimal('2'))
('Scottsdale', Decimal('13'))
('Pompano Beach', Decimal('1'))
('Wichita', Decimal('23'))
('East Saint Louis', Decimal('3'))
('Lancaster', Decimal('7'))
('Hicksville', Decimal('3'))
('South Lake Tahoe', Decimal('2'))
('Fort Collins', Decimal('5'))
('Huntington', Decimal('32'))
('Honolulu', Decimal('32'))
('Vancouver', Decimal('8'))
('Anderson', Decimal('8'))
('Everett', Decimal('2'))
('Waterbury', Decimal('12'))
('Henderson', Decimal('9'))
('Tulsa', Decimal('35'))
('Orange', Decimal('5'))
('Palatine', Decimal('3'))
('North Hollywood', Decimal('10'))
('Carlsbad', Decimal('3'))
('Monroe', Decimal('7'))
('North Las Vegas', Decimal('5'))
('Brockton', Decimal('7'))
('Elizabeth', Decimal('4'))
('Apache Junction', Decimal('4'))
('Dearborn', Decimal('3'))
('Gatesville', Decimal('1'))
('Macon', Decimal('11'))
('Baltimore', Decimal('31'))
('Helena', Decimal('4'))
('Carol Stream', Decimal('7'))
('Garden Grove', Decimal('5'))
('Lubbock', Decimal('17'))
('San Mateo', Decimal('4'))
('Anaheim', Decimal('7'))
('Brooksville', Decimal('3'))
('Corpus Christi', Decimal('21'))
('Longview', Decimal('2'))
('Evanston', Decimal('5'))
('Hampton', Decimal('5'))
('Saint Paul', Decimal('26'))
('Norfolk', Decimal('16'))
('Sunnyvale', Decimal('5'))
('Bronx', Decimal('19'))
('San Rafael', Decimal('5'))
('Elmira', Decimal('1'))
('Toledo', Decimal('17'))
('Yonkers', Decimal('3'))
('Metairie', Decimal('4'))
('Scranton', Decimal('10'))
('Gilbert', Decimal('6'))
('Waltham', Decimal('1'))
('Canton', Decimal('18'))
('Fayetteville', Decimal('4'))
('Carson City', Decimal('10'))
('Kalamazoo', Decimal('7'))
('Modesto', Decimal('7'))
('Pomona', Decimal('2'))
('White Plains', Decimal('8'))
('Littleton', Decimal('14'))
('Salem', Decimal('9'))
('North Port', Decimal('7'))
('Tempe', Decimal('4'))
('Palo Alto', Decimal('4'))
('Asheville', Decimal('7'))
('Sarasota', Decimal('16'))
('Evansville', Decimal('22'))
('Lynchburg', Decimal('6'))
('Katy', Decimal('4'))
('Cumming', Decimal('4'))
('Naples', Decimal('17'))
('Boca Raton', Decimal('4'))
('Maple Plain', Decimal('8'))
('Burbank', Decimal('3'))
('Bloomington', Decimal('5'))
('Spring Hill', Decimal('3'))
('Herndon', Decimal('8'))
('Boulder', Decimal('8'))
('Decatur', Decimal('11'))
('Vero Beach', Decimal('9'))
('Silver Spring', Decimal('8'))
('Lawrenceville', Decimal('4'))
('Rockford', Decimal('12'))
('Crawfordsville', Decimal('2'))
('Muskegon', Decimal('3'))
('Arvada', Decimal('1'))
('New Haven', Decimal('18'))
('Billings', Decimal('4'))
('Round Rock', Decimal('5'))
('Fargo', Decimal('2'))
('Largo', Decimal('3'))
('Farmington', Decimal('2'))
('Norwalk', Decimal('8'))
('Berkeley', Decimal('6'))
('Paterson', Decimal('14'))
('Lakeland', Decimal('11'))
('Bethlehem', Decimal('2'))
('Cape Coral', Decimal('2'))
('Grand Rapids', Decimal('22'))
('Hot Springs National Park', Decimal('2'))
('Galveston', Decimal('3'))
('Spring', Decimal('8'))
('Waterloo', Decimal('4'))
('Mc Keesport', Decimal('3'))
('Hayward', Decimal('4'))
('Chesapeake', Decimal('6'))
('Santa Cruz', Decimal('5'))
('Lafayette', Decimal('18'))
('Huntsville', Decimal('19'))
('Monticello', Decimal('9'))
('Bryan', Decimal('1'))
('Saint Cloud', Decimal('11'))
('Bradenton', Decimal('10'))
('Temple', Decimal('3'))
('Chula Vista', Decimal('4'))
('Valley Forge', Decimal('3'))
('Alexandria', Decimal('9'))
('Gastonia', Decimal('6'))
('Waco', Decimal('11'))
('Newport Beach', Decimal('2'))
('Utica', Decimal('2'))
('Ogden', Decimal('7'))
('Irving', Decimal('7'))
('Green Bay', Decimal('9'))
('Petaluma', Decimal('1'))
('Madison', Decimal('25'))
('Montpelier', Decimal('3'))
('High Point', Decimal('5'))
('Cambridge', Decimal('3'))
('Meridian', Decimal('3'))
('Greeley', Decimal('2'))
('Brea', Decimal('3'))
('Lansing', Decimal('18'))
('Kent', Decimal('3'))
('Beaverton', Decimal('3'))
('Annapolis', Decimal('4'))
('Gaithersburg', Decimal('4'))
('Lynn', Decimal('2'))
('Allentown', Decimal('2'))
('Punta Gorda', Decimal('4'))
('Kingsport', Decimal('3'))
('Sterling', Decimal('5'))
('West Hartford', Decimal('3'))
('Santa Rosa', Decimal('7'))
('Providence', Decimal('11'))
('Athens', Decimal('8'))
('Seminole', Decimal('5'))
('Lehigh Acres', Decimal('3'))
('Fairfield', Decimal('3'))
('Visalia', Decimal('2'))
('Jefferson City', Decimal('4'))
('Mountain View', Decimal('7'))
('Pocatello', Decimal('9'))
('New Hyde Park', Decimal('2'))
('Syracuse', Decimal('11'))
('Lima', Decimal('1'))
('Johnson City', Decimal('6'))
('Edmond', Decimal('4'))
('Idaho Falls', Decimal('5'))
('San Angelo', Decimal('2'))
('Marietta', Decimal('8'))
('Staten Island', Decimal('3'))
('New Brunswick', Decimal('5'))
('Panama City', Decimal('7'))
('Augusta', Decimal('9'))
('Texarkana', Decimal('3'))
('Bismarck', Decimal('3'))
('Pueblo', Decimal('10'))
('Warren', Decimal('7'))
('Fort Pierce', Decimal('11'))
('Olympia', Decimal('6'))
('Cheyenne', Decimal('3'))
('Humble', Decimal('7'))
('Muncie', Decimal('2'))
('Ridgely', Decimal('2'))
('Manchester', Decimal('2'))
('Mount Vernon', Decimal('1'))
('Spartanburg', Decimal('10'))
('Lees Summit', Decimal('1'))
('Gulfport', Decimal('2'))
('Santa Fe', Decimal('4'))
('Iowa City', Decimal('3'))
('London', Decimal('2'))
('Oceanside', Decimal('1'))
('Las Cruces', Decimal('5'))
('Mesquite', Decimal('2'))
('Conroe', Decimal('2'))
('Appleton', Decimal('3'))
('Flint', Decimal('12'))
('Saint Joseph', Decimal('2'))
('Florence', Decimal('2'))
('Frederick', Decimal('4'))
('Palm Bay', Decimal('1'))
('Eugene', Decimal('2'))
('Laredo', Decimal('3'))
('Rockville', Decimal('3'))
('Racine', Decimal('3'))
('Whittier', Decimal('7'))
('Davenport', Decimal('6'))
('Frankfort', Decimal('1'))
('Bonita Springs', Decimal('3'))
('Port Saint Lucie', Decimal('5'))
('Chandler', Decimal('6'))
('Valdosta', Decimal('2'))
('Danbury', Decimal('0'))
('Palmdale', Decimal('2'))
('Stamford', Decimal('8'))
('Morgantown', Decimal('5'))
('Denton', Decimal('8'))
('Sandy', Decimal('2'))
('Tuscaloosa', Decimal('8'))
('Bellevue', Decimal('3'))
('Anniston', Decimal('2'))
('Camden', Decimal('1'))
('Fredericksburg', Decimal('4'))
('Newport News', Decimal('7'))
('Troy', Decimal('3'))
('Saginaw', Decimal('4'))
('Hattiesburg', Decimal('2'))
('Fort Smith', Decimal('6'))
('Joliet', Decimal('0'))
('Wilkes Barre', Decimal('5'))
('Battle Creek', Decimal('3'))
('Independence', Decimal('1'))
('Hagerstown', Decimal('3'))
('Great Neck', Decimal('4'))
('Boynton Beach', Decimal('5'))
('Chico', Decimal('2'))
('Mansfield', Decimal('1'))
('Migrate', Decimal('2'))
('Aiken', Decimal('4'))
('Lakewood', Decimal('2'))
('Alhambra', Decimal('2'))
('Miami Beach', Decimal('3'))
('Loretto', Decimal('4'))
('Provo', Decimal('3'))
('Manassas', Decimal('4'))
('Bowie', Decimal('3'))
('Santa Clara', Decimal('3'))
('Jeffersonville', Decimal('3'))
('Santa Monica', Decimal('3'))
('New Castle', Decimal('2'))
('Vienna', Decimal('1'))
('Huntington Beach', Decimal('4'))
('Beaufort', Decimal('2'))
('San Luis Obispo', Decimal('3'))
('Myrtle Beach', Decimal('3'))
('Melbourne', Decimal('8'))
('New Bedford', Decimal('2'))
('Moreno Valley', Decimal('1'))
('Hamilton', Decimal('2'))
('Kissimmee', Decimal('4'))
('Yakima', Decimal('2'))
('Killeen', Decimal('2'))
('Simi Valley', Decimal('1'))
('Johnstown', Decimal('1'))
('Alpharetta', Decimal('0'))
('Levittown', Decimal('2'))
('Bozeman', Decimal('2'))
('Missoula', Decimal('0'))

### Assignment:

<ol>
    <li>Create a Patients table in MySQL</li>
    <li>Load <b>patients_data.csv</b> into python</li>
    <li>Transfer patients data to MySQL</li>
    <li>Retrieve patients data from MySQL to Tableau</li>
    <li>Run some analytics on MySQL/Tableau</li>
</ol>